
<section class="module parallax parallax-1">
  <div class="container">
  </div>
</section>

<section class="module content">
  <div class="container">
  </div>
</section>
<p id="notice"><%= notice %></p>
<div class="welcome">
  <h1>Welcome back, <%= current_user.first_name %>!</h1>
  <p>create categories to organize your receipts in different groups</p>
</div>
<div id=new-animated-expense>
<%= link_to '<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>'.html_safe, new_expense_category_path%>
</div>
  <div class="newexpensebutton">
    <%= link_to 'Create New Category', new_expense_category_path, class: 'btn btn-default btn-lg'  %>
    <h2>Expense Categories</h2>
  </div>





<table class="table table-striped">

  <thead>
  <tr>
  <th>Title</th>
  <th>View</th>
  <th>Edit</th>
  <th>Delete</th>
  <th colspan="3"></th>
</tr>
</thead>

<tbody>
  <% @expense_categories.each do |expense_category| %>
  <tr>
    <td><%= expense_category.title %></td>
    <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, expense_category %></td>
    <td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_expense_category_path(expense_category) %></td>
    <td><%= link_to '<i class="fa fa-minus-circle" aria-hidden="true"></i>'.html_safe, expense_category, method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %></td>
  </tr>
  <% end %>
</tbody>
</table>


<%= link_to '<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>'.html_safe, new_expense_category_path%>
