<br>
<br>
<h1 class="pdfintro">Need to share or save your receipts? We created a feature that transforms this page into a PDF document.</h1>
<div class="pdfbutton">
  <%= link_to 'Create PDF document', receiptslist_path(@expense_categories, :format => :pdf), class: 'btn btn-default btn-lg'%>
</div>
<%= wicked_pdf_stylesheet_link_tag "documents" %>
<div class="document">
  <%= render :partial => 'layouts/partial.html.erb' %>
</div>

<tbody>
  <% @expense_categories.each do |expense_category| %>
  <tr>
    <br>
    <span class="pdftitle"><td><%= expense_category.title %></td></span>
    <br>
    <% expense_category.receipts.each do |receipt| %>
    <span class="pdfreceipt"><td><%= render receipt %></td></span>
    <%= receipt.total%>
    <%= receipt.comments%>
    <td><%= link_to 'Show', receipt_path(receipt) %></td>
    <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
    <td><%= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <% end %>
</tbody>

<%#= link_to 'Show', receipt_path(receipt) %>
<%#= link_to 'Edit', edit_receipt_path(receipt) %>
<%#= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' } %>
<%#= expense_category.receipt.total %>
<%#= expense_category.receipt.comments%>
