<br>
<br>
<h1 class="pdfintro">Need to share or save your receipts? We created a feature that transforms this page into a PDF document.</h1>
<div class="pdfbutton">
  <%= link_to 'Create PDF document', receiptslist_path(@expense_categories, :format => :pdf), class: 'btn btn-default btn-lg'%>
</div>

<%= wicked_pdf_stylesheet_link_tag "documents" %>
<div class="document">
  <%= render :partial => 'layouts/partial.html.erb' %>
</div>

<div class="container-fluid">
  <% @expense_categories.each_with_index do |expense_category, index| %>
    <div class="expense-wrapper">
      <br>
      <div class="pdftitle"><%= expense_category.title %></div>
      <br>
      <br>
      <div class="receipt-wrapper">
        <% expense_category.receipts.each do |receipt| %>
        <div class="receiptinfo">
          <div class="receiptphoto">
            <%= render receipt %>
          </div>
          <%= link_to '<i class="fa fa-eye fa-2x" aria-hidden="true"></i>'.html_safe, receipt_path(receipt) %>
          <%= link_to '<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>'.html_safe, edit_receipt_path(receipt) %>
          <%= link_to '<i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i>'.html_safe, receipt, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br>
          $<%= receipt.total%>
          <br>
          <%= receipt.store_name %>
          <br>
          <%= receipt.comments%>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
