<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @expense_category.user.first_name %>
</p>

<p>
  <strong>Title:</strong>

</p>





<%= link_to 'Edit', edit_expense_category_path(@expense_category) %> |
<%= link_to 'Back', expense_categories_path %>

<br><%= link_to 'Add Receipt', new_expense_category_receipt_path(@expense_category) %></br>


<%= render @expense_category.receipts%>
