<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body3">
        loading
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Finish</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="expensetitle">
  <%= @expense_category.title %>
</div>
<div class="expenseedit"><%= link_to '<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>'.html_safe, edit_expense_category_path(@expense_category), remote: true  %>
<div class="addreceiptbutton">
  <div class="">

<br><%= link_to 'Add Receipt', new_expense_category_receipt_path(@expense_category), class: 'btn btn-default btn-lg' %></br>
  </div>
<!-- make a page that says all the categories
and then make a loop that lists all the receipts under the expense category -->


    <div class="container-fluid">
      <% @expense_category.receipts.each do |receipts| %>
      <div class="expense-wrapper">
        <div class="receipt-wrapper">
          <div class="receiptinfo">
            <div class="receiptphoto">
              <%= render receipts %>
            </div>
            <%= link_to '<i class="fa fa-eye fa-2x" aria-hidden="true"></i>'.html_safe, receipt_path(receipts)%>
            <%= link_to '<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>'.html_safe, edit_expense_category_receipt_path(@expense_category, receipts.id) %>
            <%= link_to '<i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i>'.html_safe, receipts, method: :delete, data: { confirm: 'Are you sure?' } %>
            <br>
            $<%=receipts.total%>
            <br>
            <%= receipts.store_name%>
            <br>
            <%= receipts.comments%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
<%= hidden_field 'Back', expense_category_path %>
