<br>
<br>
<br>

<div class="expensetitle">
  <%= @expense_category.title %>
</div>


<!-- make a page that says all the categories
and then make a loop that lists all the receipts under the expense category -->


<div class="expenseedit">
  <%= link_to '<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>'.html_safe, edit_expense_category_path(@expense_category) %>
</div>

<div class="addreceiptbutton">
  <br><%= link_to 'Add Receipt', new_expense_category_receipt_path(@expense_category), class: 'btn btn-default btn-lg' %></br>
</div>


<%@expense_category.receipts.each do |receipt|%>
<%= render receipt%>
<div class="">
  <%=receipt.total%>
  <%=receipt.comments%>
</div>
<%end%>
<br>
