<br>
<br>
<br>

<div class="expensetitle">
  <%= @expense_category.title %>
</div>


<!-- make a page that says all the categories
and then make a loop that lists all the receipts under the expense category -->


<h1 class="pdfintro">Need to share or save your receipts? We created a feature that transforms this page into a PDF document.</h1>
<div class="pdfbutton">
  <%= link_to 'Create PDF document', receiptslist_path(@expense_category, :format => :pdf), class: 'btn btn-default btn-lg'%>
</div>
<%= wicked_pdf_stylesheet_link_tag "documents" %>
<div class="document">
  <%= render :partial => 'layouts/partial.html.erb' %>
</div>

    <div class="container-fluid">
      <% @expense_category.receipts.each do |receipts| %>
      <div class="expense-wrapper">
        <div class="receipt-wrapper">
          <div class="receiptinfo">
            <div class="receiptphoto">
              <%= render receipts %>
            </div>
            <%= link_to '<i class="fa fa-eye fa-2x" aria-hidden="true"></i>'.html_safe, receipt_path(receipts) %>
            <%= link_to '<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>'.html_safe, edit_expense_category_receipt_path([@expense_category,@receipt]) %>
            <%= link_to '<i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i>'.html_safe, receipts, method: :delete, data: { confirm: 'Are you sure?' } %>
            <br>
            $<%= receipts.total%>
            <br>
            <%= receipts.comments%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
