
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up and maximize your tax return!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        loading
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Finish</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Log in</h1>
        <%= form_tag sessions_path do %>
        <p>
          <%= label_tag :username %>
          <%= text_field_tag :username %>
        </p>

        <p>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </p>

        <p>
          <%= submit_tag 'Log in' %>
        </p>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Log in</button>
      </div>
    </div>
  </div>
</div>


<div class="home-background-color">
  <div class="intro">
    <% if !logged_in? %>
    <% else %>

    <br>
    <%end%>
    <h1>Don't miss the opportunity to get some cash back
      <br>
      <span class="likethis">like this guy...</span></h1>

      <div class="png">
        <img src="https://68.media.tumblr.com/4dc0152b39849d158e1b5fd28fa5c731/tumblr_oq28ukUH6U1uaq136o1_1280.jpg" alt="little guy" height="370">
      </div>


      <p>Create custom expense categories and upload receipts on the go. This helps you keep your expenses
        organized and ready for tax season.
        <% if !logged_in? %>
        Sign up and see how the magic happens!
        <% else %>
        <br>
        <br>
        <%= link_to "continue organizing", expense_categories_path, class: 'btn btn-default btn-lg' %>
        <%end%>
      </p>
    </div>

    <div class="button">
      <% if !logged_in? %>
      <%= link_to "JOIN THE AWESOMENESS", new_users_path, class: 'btn btn-default btn-lg', remote: true %>
      <br><span class="login-logout"><%= link_to "Already have an account? Sign in", "#exampleModal1", data: {toggle: "modal"} %></a></span>
      <% else %>
      <%end%>
    </div>
  </div>
