
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up and maximize your tax return!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Finish</button>
      </div>
    </div>
  </div>
</div>

<%= form_tag sessions_path do %>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body1">
        <p>
          <%= label_tag :username %>
          <%= text_field_tag :username %>
        </p>

        <p>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag 'Log in', class: "btn btn-primary"%>
        <!-- <button type="button" class="btn btn-primary">Log in</button> -->
      </div>
    </div>
  </div>
</div>
<% end %>







<div class="home-background-color">
  <div class="intro">
    <% if !logged_in? %>
    <% else %>

    <br>
    <%end%>
    <br>
    <h1>Ever had your receipts laying around
      <br>
      <span class="likethis">like this?</span></h1>

      <div class="png">
        <img src="https://68.media.tumblr.com/c45e80c47995f2056c6d8249f40705d8/tumblr_oq9c4pEbPp1uaq136o1_1280.png" alt="little guy" height="370">
      </div>

      <p> SpentBook's got you covered. Upload photos of receipts on the go and search for them when you need them. Also, we help you keep track all year long so you never miss a penny during tax season.
        <% if !logged_in? %>
        Sign up and see how the magic happens!
        <% else %>
        <br>
        <br>
        <div class="continueorganizing">
        <%= link_to "continue organizing", expense_categories_path, class: 'btn btn-default btn-lg' %>
        </div>
        <%end%>
      </p>
    </div>

    <div class="button">
      <% if !logged_in? %>
      <%= link_to "JOIN THE AWESOMENESS", new_users_path, class: 'btn btn-default btn-lg', remote: true %>
      <br><span class="login-logout"><%= link_to "Already have an account? Sign in", "#exampleModal1", data: {toggle: "modal"} %></a></span>
      <% else %>
      <%end%>
    </div>
  </div>
