<%= form_with(model: receipt, local: true) do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :expense_category_id %>
    <%= form.text_field :expense_category_id, id: :receipt_expense_category_id %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :receipt_photo %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total, id: :receipt_total %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :receipt_date %>
  </div>

  <div class="field">
    <%= form.label :store_name %>
    <%= form.text_field :store_name, id: :receipt_store_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
