<%= form_with(model:[expense_category,receipt], local: true, id: 'edit_receipt') do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldreceipt">
    <%= form.file_field :picture, id: :receipt_picture %>
  </div>
  <div class="fieldreceipt">
    <%= form.label :total %>
    <%= form.number_field :total, step: "any" %>
  </div>
  <div class="fieldreceipt">
    <%= form.label "store name" %>
    <%= form.text_field :store_name %>
  </div>
  <div class="fieldreceipt">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>
  <div class="action">
    <%= form.submit %>
  </div>
<% end %>
