<%= form_with(model:[expense_category,receipt], multipart: true) do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>


<h1 class="reminder">Hey, <%= current_user.first_name %>. We added a smart camera feature that reads the receipt total. You can choose to type it in, or we'll do it for you. Just leave the "Total" field empty.</h1>

  <div class="fieldreceipt">
    <%= form.file_field :picture, id: :receipt_picture %>
  </div>
  <div class="fieldreceipt">
    <%= form.label :total %>
    <%= form.number_field :total, step: "any" %>
  </div>
  <div class="fieldreceipt">
    <%= form.label "store name" %>
    <%= form.text_field :store_name %>
  </div>
  <div class="fieldreceipt">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>
  <div class="action">
    <%= form.submit %>
  </div>
<% end %>
