<%= link_to 'Create PDF document', receipts_path(@receipts, :format => :pdf)%>

<h1>Receipts</h1>
<%= wicked_pdf_stylesheet_link_tag "documents" %>

<div class="document">
  <%= render :partial => 'layouts/partial.html.erb' %>
</div>
<br>
<%#= link_to 'New Receipt', new_receipt_path %>
<table>
  <thead>
    <tr>
      <th>Expense category</th>
      <th>Photo</th>
      <!-- <th>Total</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>
</table>


<tbody>
  <% @receipts.each do |receipt| %>
    <tr>
      <br>
      <td><%= receipt.expense_category.title %></td>
      <br>
      <td><%= image_tag receipt.picture.url(:medium)%></td>
      <td><%#= receipt.picture %></td>
      <td><%= link_to 'Show', receipt_path(receipt) %></td>
      <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
      <td><%= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
<br>

</tbody>


</table>
