<br>
<br>
<p id="notice"><%= notice %></p>
<h1 class="reminder">Remember to always verify your totals.</h1> 
<div class="showimage">
  <%= image_tag @receipt.picture.url(:large)%>
</div>
<div class="receiptinfo">

  <%=@receipt.store_name%>
  <br>
  <%=number_to_currency @receipt.total%>
  <br>
  <%= @receipt.comments%>

</div>
